node1/
node2/
node3/
beacon1/
beacon2/
beacon3/
validator1/
validator2/
validator3/
logs/
jwt.hex
*.bak
genesis_template.json
geth-genesis-template.json
genesis.json.working
prysmctl
dist/
nohup.out
Accept*
GET
Host*
User-Agent*
